.tiles {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.tile {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
    background-color: rgb(82, 44, 49);
}

.disabled {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
    background-color: white;
}

.chosen {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin: 5px;
}